body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: black;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }
        
        h1 {
         font-family: ariel;
         color: white;
        }
